body{
    overflow-x: hidden;
}
.cover-me{
    overflow-x: hidden;
}
.mg-top{
    margin-top: 24px;
}

.m-btm-1 {
    margin-bottom: 14px;
}

.m-btm-2 {
    margin-bottom: 24px;
}


aside {
    width: 16%;
    position: fixed;
    top: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 30%;
}

aside a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin: 1% auto;
    padding: 10px 0 10px 15%;
    /* transition: 0.5s; */
}

a.nav-top {
    padding: 10% 10%;
    transform: translateY(-5%);
}

a.nav-btm1{
    padding-left: 10%;
    transition: 0.5s;
}

a.nav-btm1:hover {
    padding-left: calc(10% - 1px);
    transform: translateY(-5%);
}

a.nav-btm2 {
    padding-left: 14%;
    transition: 0.5s;
}

a.nav-btm2:hover {
    padding-left: calc(14% - 1px);
    transform: translateY(-5%);
}

aside a img,aside a i {
    margin-right: 10%;
}

a.nav-btm1 img, a.nav-top img, a.nav-btm1 i, a.nav-top i {
    margin-right: 5%;
}

/* a.nav-btm2 img {
    margin-right: 9%;
} */
aside nav a.active, aside nav a{
    transition: 0.5s;
}

aside nav a.active, aside nav a:hover {
    background-color: #ffba00;
    /* border-left: 1px solid; */
    padding-left: calc(15% - 1px);
    transform: translateY(-5%);
}

main {
    margin-left: 16%;
    width: 84%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 3% 1%;
    position: sticky;
    z-index: 3;
    top: 0;
}

.main-nav > div {
    margin-left: 30px;
}

.notification {
    position: relative;
    transform: scale(0.8);
}

.top-notification i{
    font-size: 22px;
    color: #000033;
}
.notification div {
    color: white;
    font-size: 12px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: -5%;
    top: 0;
    transform: translateY(-50%);
    background-color: rgba(255, 128, 128, 1);
}

.dashboard-main {
    padding: 1.5% 3%;
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    gap: 3%;
}
.admin-dashboard-main{
    padding: 3%;
}

.schedule-top {
    padding: 3% 3% 0;
}

.schedule-main {
    padding: 3%;
    display: grid;
    grid-template-columns: 0.9fr 2fr;
    gap: 3%;
}

.dashboard-main *{
    position: relative;
    z-index: 2;
}

.dashboard-p {
    width: 70%;
    margin-bottom: 20px;
}

#schedule_p {
    width: 50%;
    min-width: 180px;
}

.dashboard-cartoon {
    position: absolute;
    height: 100%;
    right: 5%;
    top: 0;
    z-index: 1;
}

.d-numbers {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
}

.max-width-img {
    max-width: 25%;
}

.max-width-img img {
    width: 100%;
}

.card-sm-text {font-size: 14px;}

.sm-bold-text {font-weight: 500;
font-size: 1.2rem;}

.main-large button, .schedule-top button {
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    background-color: #ffba00 ;
    margin-right: 20px;
    font-size: 16px;
}

button:focus, button:hover {
    outline: 2px solid rgb(213, 237, 243);
}


.b-btm::after {
    display: block;
    content: "";
    margin: 18px 0 10px;
    border: 2px solid #000033 ;
    width: 60px;
}

.appointment-details {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3.5%;
    padding: 1% 3%;
}

.time {
    padding-top: 10%;
    font-size: 14px;
}

.appointment-details:last-child {
    margin-bottom: 20px;
}

.appointment-name-img {
    color: rgba(134, 146, 166, 1);
    align-items: center;
    gap: 3.5%;
    padding: 1.5% 3%;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.appointment-name-img .image {
    width: 40px;
    border-radius: 50%;
}

.main-small > div {
    width: 100%;
}

.large-img {width: 100%;}

#activities > div {
    display: flex;
    gap: 5%;
    font-size: 14px;
    align-items: center;
    padding: 10px;
}

.activities-header {
    padding: 5% 10% 0;
}

.activities-header .b-btm::after {
    margin: 8px 0;
}

#activities > div:first-child {
    padding-top: 0;
}
/* admin styles */
.moving-divs{
    transition: 0.5s;
}
.moving-divs:hover{
    transform: translateY(-5%);
    border: #ffba00 1px solid;
}

/*  */
.manage{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.manage:hover{
    color: black;
}
.nurses-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.nurses-form label{
    font: 18px;
    font-weight: 500;
}
.nurses-form input,select{
    width: 100%;
    padding: 15px;

}
#vitals-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
#vitals-form form input{
    padding: 15px;
}

/* patient dashboard styles */
.patientImage{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.patientNotImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.myResult-div{
    border-radius: 25px;
    padding: 15px;
    background-color: #6B1761;
    font-size: 18px;
    font-weight: 400;
}
.show-latest{
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid black;
}
.activity-color{
    background-color: rgba(2, 6, 26, 0.856);
    padding: 3px;
    color: white;
    font-size: 16px;
    line-height: 30px;
}
/* button{
    padding: 10px;
    font-size: 16px;
} */

@media only screen and (max-width: 1024px) {
    aside {
        width: 8.5%;
    }

    aside a {
        padding: 10px 0;
        flex-direction: column;
        
    }

    a.nav-top {
        padding: 20% 10%;
    }

    aside a i {
        margin: auto;
    }

    aside a div {
        font-size: 8px;
    }

    a.nav-btm1 img, a.nav-top img, a.nav-btm1 i, a.nav-top i  {
        margin-right: auto;
    }

    aside nav a.active, aside nav a:hover {
        border-left: 1px solid;
        padding: 10px 0;
    }

    main {
        margin-left: 8%;
        width: 92%;
    }

    .dashboard-main, .schedule-main {
        display: block;
        padding: 5% 3%;
    }
    .col-4{
        width: 80%;
        max-width: 350px;
    }
    .dashboard-cartoon {
        filter: opacity(0.3);
    }

    .main-small {
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* .main-small > div:not(:last-child) {
        width: 48%;
    } */

    .dashboard-main .col-3 {
        width: 30%;
    }

    .activities-header {
        padding: 3% 3% 0;
    }

    table{
        width: 80%;
        padding: 2%;
    }
    .patient-med{
        display: block;
    }
    .current{
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;
    }
    .next-patients-table-div{
        overflow-x: auto;
    }
}

@media only screen and (max-width: 650px) {
    .the-buttons{
        display: flex;
        gap: 10px;
    }
    h1 {
        font-size: 20px;
    }
    h4{
        font-size: 16px;
    }
    /* p{
        font-size: 18px;
    } */

    .f-14-sm {
        font-size: 14px;
    }

    aside {
        width: 100%;
        position: fixed;
        z-index: 3;
        top: unset;
        bottom: 0;
        height: unset;
        display: block; 
    }

    aside > *:first-child, aside > *:last-child {
        display: none;
    }

    aside nav {
        display: flex;
    }

    aside nav a { 
        margin: 0 auto;
        padding: 0;
    }

    aside nav a.active, aside nav a:hover {
        border-left: none;
        padding: unset;
    }

    aside nav a i {
        padding: 10px;
    }

    main {
        margin-left: unset;
        width: 100%;
    }
    .main-nav h2{
        font-size: 25px;
    }
    .main-nav h4{
        display: none;
    }
    .welcome-part h2{
        font-size: 25px;
    }

    .main-large button {
        padding: 10px;
        margin-right: 12px;
    }

    .main-large button:not(:last-child){
        margin-bottom: 10px;
    }

    .dashboard-main .col-3 {
        width: 80%;
        max-width: 350px;
    }
    .strong-head{
        width: 100%;
        max-width: 400px;
    }
    table{
        width: 80%;
        max-width: 350px;
    }

}

@media only screen and (max-width: 400px) {
    .appointment-name-img {
        grid-template-columns: 1fr auto;
        border-radius: 0;
        padding: 5px 10px;
    }

}

@media only screen and (max-width: 290px) {
    body {
        min-width: 280px;
    }
}